.titulo-div {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.div-informativo-importacao {
  border: 1px solid #c9c9c9;
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.div-file {
  width: 100%;
}

#realiza_importacao {
  float: right;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}