<p id="notice"><%= notice %></p>

<div class="titulo-div">
  <h1>Listagem das despesas dos deputados</h1>
</div>


<% unless @gastos_deputados.present? %>
  <div class="div-informativo-importacao">
    <h3>A base ainda não foi importada, favor selecionar o arquivo csv e realizar a importação.</h3>
  </div>

  <form id="form-arquivo" action="gastos_deputados/upload" method="post" enctype="multipart/form-data">
    <div class="div-file">
      <%= file_field_tag 'arquivo_csv', style: "width:80%;" %>
      <input id="realiza_importacao" type="submit" id="submit" name="submit" value="Realizar importação" >
    </div>
        
        
    </form>
<%end%>

<%= javascript_pack_tag 'gastos_deputado'%>